{
    "max_open_trades": 35,
    "amend_last_stake_amount": true,
    "stake_currency": "USDT",
    "stake_amount": "unlimited",
    "tradable_balance_ratio": 1,
    "fiat_display_currency": "USD",
    "timeframe": "5m",
    "dry_run": false,
    "dry_run_wallet": 1000,
    "cancel_open_orders_on_exit": false,
    "trading_mode": "spot",
    "margin_mode": "",
    "unfilledtimeout": {
        "entry": 30,
        "exit": 30,
        "exit_timeout_count": 0,
        "unit": "minutes"
    },
    "entry_pricing": {
        "price_side": "other",
        "use_order_book": true,
        "order_book_top": 1,
        "price_last_balance": 0.0,
        "check_depth_of_market": {
            "enabled": false,
            "bids_to_ask_delta": 1
        }
    },
    "exit_pricing": {
        "price_side": "other",
        "use_order_book": true,
        "order_book_top": 1
    },
    "exchange": {
        "name": "kucoin",
        "key": "",
        "secret": "",
        "password": "",
        "ccxt_config": {
            "enableRateLimit": true,
            "timeout": 60000,
            "_urls": {
                "api": {
                    "public": "http://proxy_real:8080/kucoin",
                    "private": "http://proxy_real:8080/kucoin"
                }
            }
        },
        "ccxt_async_config": {
            "enableRateLimit": true,
            "timeout": 60000
        },
        "pair_whitelist": [
            "AVAX/USDT",
            "METIS/USDT",
            "KDA/USDT",
            "INJ/USDT",
            "ORDI/USDT",
            "ATOM/USDT",
            "LDO/USDT",
            "GHX/USDT",
            "FET/USDT",
            "OP/USDT",
            "BNB/USDT",
            "LUNC/USDT",
            "AGIX/USDT",
            "RUNE/USDT",
            "DOGE/USDT",
            "STX/USDT",
            "PEOPLE/USDT",
            "GMT/USDT",
            "VRA/USDT",
            "SUI/USDT",
            "ETH/USDT",
            "HBAR/USDT",
            "FIL/USDT",
            "ADA/USDT",
            "TRB/USDT",
            "SOL/USDT",
            "MASK/USDT",
            "DOT/USDT",
            "LTC/USDT",
            "BTC/USDT",
            "PEPE/USDT",
            "AKT/USDT",
            "NAKA/USDT",
            "MATIC/USDT",
            "SHIB/USDT",
            "LINK/USDT",
            "XRP/USDT",
            "ARB/USDT",
            "TOMI/USDT",
            "CFX/USDT",
            "FTM/USDT",
            "XMR/USDT",
            "KAS/USDT",
            "VELO/USDT",
            "RNDR/USDT"
        ],
        "pair_blacklist": [
            "NEAR/USDT",
            "KONO/USDT",
            "TRIAS/USDT",
            "BSV/USDT",
            "MYRO/USDT",
            "COQ/USDT",
            "ICP/USDT",
            "BONK/USDT",
            "RATS/USDT",
            "MAPS/USDT",
            "USDC/USDT",
            "BIIS/USDT",
            "SEI/USDT",
            "ROSE/USDT"
        ]
    },
    "pairlists": [
        {
            "method": "StaticPairList",
            "number_assets": 45
        }
    ],
    "api_server": {
        "enabled": true,
        "listen_ip_address": "0.0.0.0",
        "listen_port": 8080,
        "verbosity": "error",
        "enable_openapi": false,
        "jwt_secret_key": "",
        "ws_token": "",
        "CORS_origins": [],
        "username": "freqtrade",
        "password": "freqtrade"
    },
    "bot_name": "freqtrade_1",
    "initial_state": "running",
    "force_entry_enable": true,
    "internals": {
        "process_throttle_secs": 5
    }
}
